
 <div class="textbox">
   <h2>On The Menu</h2>
        <p>Get the best organic products on your kitchen within minutes <br>and prepare amazing dishes for your friends and family  </p>
    </div>
<div class="ontheMenuHero"></div>
{{#each categories}}
   <div class="top-meals" style="padding-bottom: 82px;">
        <h2 style="padding-bottom: 30px;">{{category}}</h2>
        <div class="container">
          <div class="row">
             {{#each meal}}
            <div class="col-12 col-sm-6">
              <div class="meal" onclick="location.href='/on-the-menu/meal-overview/{{_id}}';">
                <img src="/images/meals/{{imgURL}}" alt="{{title}}">
                <p class="meal-title">{{title}}</p>
                <p class="meal-description"><small style="font-weight: bold;">What's included?</small><br>{{ingredients}}</p>
                <div class="row">
                  <div class="col-sm">
                    <p class="meal-description"><small style="font-weight: bold;">Cooking Time:<br></small>{{cookingTime}} minutes</p>
                  </div>
                  <div class="col-sm">
                    <p class="meal-description"><small style="font-weight: bold;">Servings:</small> <br>{{servings}}</p>
                </div></div>
                
        
                <p class="meal-price">${{price}}</p>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        </div>

{{/each}}

