<div class="top-meals" style="padding-bottom: 62px;">
        <h2 style="padding-bottom: 60px;">Top Meals</h2>
        <div class="container">
          <div class="row">
             {{#each meal}}
             {{#if topMeal}} 
            <div class="col-12 col-sm-6">
              <div class="top-meal" onclick="location.href='/on-the-menu/meal-overview/{{_id}}';">
                <img src="/images/meals/{{imgURL}}" alt="{{title}}">
                <p class="meal-title">{{title}}</p>
                <p class="meal-description">{{description}}</p>   
                <p class="meal-price">${{price}}</p>
              
              </div>
              <button onclick="location.href='/customer/shopping-cart/{{_id}}';"class="btn btn-primary btn-block rounded-0">Add to Cart</button>
            </div>
  
            {{/if}}
            {{/each}}
          </div>
        </div>
        </div>
        